<h1>
  {{title}}
</h1>
 <!--<jce-users></jce-users>
 <jce-demo></jce-demo>
 <jce-posts></jce-posts>
 <app-page-not-found> </app-page-not-found>-->
<nav>
<a routerLink="/users" routerLinkActive="active" >Users</a> | 
<a routerLink="/posts" routerLinkActive="active"  >Posts</a>|
<a routerLink="/fire" routerLinkActive="active">Firebase test</a>|
<a routerLink="/products" routerLinkActive="active">Products</a>

  
</nav>
 <router-outlet></router-outlet>
 
<!-- Routed views go here -->


 

